/.terraform
/.terraform.lock.hcl
/Assignments Portfolio_DLBSEPCP01_E.pdf
/Cloud programming.pptx
/Facundo-Alvarez_9214759_Cloud Programming_P1_S.pdf
/function.zip
/Guidelines Portfolio_new.pdf
/infrastructure.png
/infrastructure.svg
/terraform.tfstate
/terraform.tfstate.backup
/~$Cloud programming.pptx